node-linker=hoisted
prefer-symlinked-executables=false
auto-install-peers=true
bin-links=true
# чтобы не было “полу-установок”
lockfile-only=false
# по желанию (не обязательно)
strict-peer-dependencies=false
